@import url(./publicidadMovil.css);

* {
  font-family: 'Segoe UI';
}

body {
  margin: 0;
}

/*Clases globales*/
.d-ib {
  display: flex;
}

/*HEADER*/
header {
  height: 56px;
  /* padding: 0 5%; */
  display: flex;
  justify-content: space-around;
}

header>div {
  height: 100%;
}

header>div:last-child {
  /* float: right; */
}
header>div:last-child > ul{
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
  margin-right: 1.5rem;
}

header>div>div {
  height: 100%;
}

#logos{
  display: flex;
  align-items: center;
}

#logos>img {
  height: 40%;
}



header ul li {
  display: inline-block;
  list-style: none;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* header div:first-child{
  position: relative;
  left: 35%;
} */
header > div:first-child > nav a:nth-child(3){
  display: none;
}
header > div:first-child > nav a:nth-child(4){
  display: none;
}
header > div:first-child > nav a:nth-child(5){
  display: none;
}
header > div:last-child li > span{
  display: none;
}
header > div:last-child a:nth-child(1){
  display: none;
}
header > div:last-child a:nth-child(2){
  display: none;
}
header nav{
  display: none;
}

header nav ul{
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
#logos>img:first-child {
  padding: 0;
  border-right: none;
}
#logos > img:last-child{
  display: none;
}

/*CINTILLO*/
#cintillo{
  padding: 5vh 0 !important;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#cintillo > div{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#cintillo > div > div{
  width: 30%;
  /* display: inline-block; */
}
#cintillo > div > div > img{
  height: 8vh;
  text-align: center;
  margin: 0 auto;
  display: block;
}
#cintillo > div > div > p{
  text-transform: uppercase;
  color: #107C10;
  text-align: center;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
}
#cintillo > div > div:hover{
  cursor: pointer;
}
#cintillo > div > div:hover > p{
  /* border-bottom: 3px solid #107C10 */
  text-decoration: underline;
}
/* #cintillo > div > div:first-child{
  float: left;
} */
/* #cintillo > div > div:nth-child(2){
  position: relative;
  left: 5%;
} */
/* #cintillo > div > div:last-child{
  float: right;
} */

/*FIN CINTILLO*/

/* PUBLICIDAD*/


/* FIN PUBLICIDAD */

@media print {
  #banner{
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #cintillo{
    padding: 5vh 15% !important;
    flex-direction: row;
  }
  #cintillo > div{
    width: 49%;
    justify-content: space-between;
  }
}

/*Media query compuesta*/
@media screen and (min-width: 770px) and (max-width: 850px) and (orientation: landscape){
  #mediaCompuesta{
    color: red;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header div:first-child{
    position: static !important;
    left: 0;
  } 
  header nav{
    display: flex;
  }
  #logos>img:first-child {
    padding: 0 20px 0 0;
    border-right: solid black 3px;
  }
  #logos > img:last-child{
    display: inline;
    margin-left: 15px;
  }
  header > div:last-child a:nth-child(1){
    display: inline;
  }
  header > div:last-child a:nth-child(2){
    display: inline  ;
  }
}

@media (min-width: 1000px){
  header > div:first-child > nav a:nth-child(3){
    display: inline;
  }
  #publicidad{
    display: flex;
    justify-content: flex-end;
    height: 80vh;
    background-image: url("https://assets.xboxservices.com/assets/2b/60/2b6011fe-c58f-404f-a50a-55b1114e2ccb.jpg?n=9303887_Home-Hero-1084_Gear_1904x805_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #publicidad > div{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    padding: 15% 10%;
    position: static;
  }

}

@media (min-width: 1070px){
  header > div:first-child > nav a:nth-child(4){
    display: inline;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  header > div:first-child > nav a:nth-child(5){
    display: inline;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  header > div:last-child li > span{
    display: inline;
  }
}