*{
    font-family: 'Segoe UI';
}
body{
    margin: 0;
}

/*Clases globales*/
.d-ib{
    display: inline-block;
}

/*HEADER*/
header{
    height: 56px;
    padding: 0 5%;
}
header > div{
    height: 100%;
}
header > div > div{
    height: 100%;
}
#logos > img{
    height: 40%;
}
#logos > img:first-child{
    padding: 0 20px 0 0;
    border-right: solid black 3px;
}
header ul li{
    display: inline-block;
    list-style: none;
}