.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  
  .c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    height: 100px;
  }
  
  @media (min-width: 600px) {
    .c2, .c3, .c4, .c5 {
      width: 50%;
    }
  }
  
  @media (min-width: 800px) {
    .c1 {
      width: 60%;
    }
    .c2 {
      width: 40%;
    }
    /* Using 33.33%, doesn't always work right due to rounding */
    .c3, .c4 {
      width: 33%;
    }
    .c5 {
      width: 34%;
    }
  }
  
  @media (min-width: 800px) {
    .container {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .c1{
    background-color: #3CEBD7;
  }
  .c2{
    background-color: #00B3F7;
  }
  .c3{
    background-color: #7665CB;
  }
  .c4{
    background-color: #9B3190;
  }
  .c5{
    background-color: #344B47;
  }